@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

/* header part */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}
.nav-part2{
   
    text-align: center;
    align-items: center;
    
}
.nav-part2 a{
    text-decoration: none;
    width: 100%;
    color: black;
    margin: 5px;
}

body{
    font-family: 'Poppins', sans-serif; 
    margin: 50px;
    background-color: ;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.first-part{
    justify-content: center;

}
.heading-part{
    margin-top: -10px;
}
.con-paragraph{
    text: wrap;
}
.btn-part{
    text-decoration: none;
    background-color: rgba(236, 21, 121, 0.993);
    color: white;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 300;
    padding: 5px;
}
.camera{
    background-image: url(images/Circle-design.svg);
}
.camera img{
    
    width: 300px;
    
}
.all-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
   padding: 1%;
    margin: 10%;
    border: whitesmoke;
}
.section-title{
    text-align: center;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.collection{}


